    .login-box {
      max-width: 400px;
      margin: 100px auto;
      padding: 30px;
      background-color: #222;
      border-radius: 10px;
      box-shadow: 0 0 15px #f1c40f;
      text-align: center;
    }
    input[type="password"] {
      margin-top: 10px;
      padding: 10px;
      width: 100%;
      background-color: #2a2a2a;
      color: white;
      border: 1px solid #f1c40f;
      border-radius: 5px;
    }
